@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:ital,wght@1,500&display=swap');
:root{
    /* Sidebar background color */
  --black: #000000;
  --base-color: #000000;
  --background-sub: #f6f6f6;
  
  /* Content area background color */
  --white: #FFFFFF;
  --white-sidebar-icons: #FFFFFF;
  --white-sidebar-text: #FFFFFF;
  --bg-card-manager: #fbfbfb;
  
  /* Main titles color */
  --gray-dark: #333333;
  --titles: #333333;
  
  /* Subtitles color */
  --gray: #666666;
  --subtitles: #666666;
  --inp-placeholder-modal: #666666;
  --icon-pagination: #6f6e6e;
  
  /* Regular text color */
  --gray-light: #999999;
  --regular-text: #999999;
  
  /* Links color (not visited) */
  --outline-input-modals: #007BFF;
  
  /* Links color (visited) */
  --blue-dark: #0056b3;
  --blue-btn-color: #0056b3;
  
  /* Links color on hover */
  --blue-light: #1E90FF;
  --blue-icons-white: #1E90FF;
  
  /* Primary buttons color (e.g., Create User, Save Information) */
  --green: #28a745;
  
  /* Primary buttons color on hover */
  --green-dark: #218838;
  
  /* Secondary buttons color */
  --gray-lighter: #cccccc;
  
  /* Transparent black (used for sidebar icon hover background) */
  --transparent-black: rgba(0, 0, 0, 0.5);
  
  /* Transparent blue light (used for content icon hover background) */
  --transparent-blue-light: rgba(30, 144, 255, 0.5);

  /* Borders color */
  --border-color: #d3d3d3;
  
  /* scroll bar  */
  --scroll-bar-color: #d7eaff;
  
  /* Validatio color */
  --validation-c: #275e2d;
  --backgroud-c: #daf2dd;
  --border-c: #3cae4b;
  
  
  --validation-e: #94090D;
  --backgroud-e: #fbbcbe;
  --border-e: #D40D12;

  --validation-e: #E74C3C;
  
  /* label admin colors */
    --border-admin-label: #3cae4b;
    --backgroud-admin-label: #daf2dd;
    --color-admin-label: #21612a;

    /* Filter */
    --backgroud-filter-label: #d9e8fa;
    --border-filter-label: #1c77e4;
    --color-filter-label: #0c3363;
    
    /* label admin colors */
    --border-reception-label: #1c77e4;
    --backgroud-reception-label: #d9e8fa;
    --color-reception-label: #0c3363;

    /* ====== Sales combination ========= */
  --border-sales-label: #c3dae6;
  --background-sales-label: #f4fbff;
  --color-sales-label: #18506d;

  --border-sales-label-light: #1c77e4;
  --background-sales-label-light: #d9e8fa;
  --color-sales-label-light: #0c3363;

    /* ====== Agent combination ========= */
  /* Agente - Dark */
  --border-agent-label: #e6a3a3;
  --background-agent-label: #fff4f4;
  --color-agent-label: #8d4040;

/* Agente - Light */
  --border-agent-label-light: #e47272;
  --background-agent-label-light: #fdeff0;
  --color-agent-label-light: #a53b3b;


    /* ====== uw combination ========= */
  /* UW - Dark */
  --border-uw-label: #a1e6bf;
  --background-uw-label: #f1fff6;
  --color-uw-label: #4d8d68;

/* UW - Light */
  --border-uw-label-light: #5ae694;
  --background-uw-label-light: #e0ffe5;
  --color-uw-label-light: #36884f;
  

 

    /* ====== NOC combination ========= */
    /* NOC - Dark */
  --border-noc-label: #c3a5e6;
  --background-noc-label: #f8f2ff;
  --color-noc-label: #725b8d;

/* NOC - Light */
  --border-noc-label-light: #a36fe6;
  --background-noc-label-light: #f2e4ff;
  --color-noc-label-light: #6b479e;

    /* ====== regional combination ========= */
    /* Regional - Dark */
  --border-regional-label: #e6d4a3;
  --background-regional-label: #fff9e7;
  --color-regional-label: #8d763c;

/* Regional - Light */
  --border-regional-label-light: #e6be5c;
  --background-regional-label-light: #fffae1;
  --color-regional-label-light: #b68d38;

    /* ====== it combination ========= */
/* IT - Dark */
  --border-it-label: #a5c7e6;
  --background-it-label: #f1f8ff;
  --color-it-label: #577d9e;

/* IT - Light */
  --border-it-label-light: #6ca9e6;
  --background-it-label-light: #e1f3ff;
  --color-it-label-light: #3f6c8e;


  /* btn new user */
    --background-btn-hover: #005ce6;

  /* Shadows material design */

  --shadown-light-1:0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);


    --headline: 3.4rem;
    --subtitle: 1.6rem;
    --headline-2: 2.0rem;
    --headline-2-cards: 1.6rem;
    --subtitle-2: 1.4rem;
    --subtitle-2-cards: 1.2rem;
    --table-header: 1.2rem;
    --table-row-name: 1.2rem;
    --table-row-name-email: 1rem;
    --table-row-font-size: 1.2rem;
    --btn-font-size:1.4rem; 
    




    --shadow-cards: 0 24px 24px -16px rgba(0, 0, 0, 0.6);
    --shadow-cards-small: 0 20px 20px -14px rgba(0, 0, 0, 0.6);
    --shadow-btn: 2px 2px 4px rgba(0, 0, 0, 0.4);
    --shadow-btn-hover: 2px 2px 8px rgba(0, 0, 0, 0.6);
    --shadow-small: 1px 1px 2px rgba(0, 0, 0, 0.4);
    --shadow-inputs: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    
    /* Modal z-index */
    --z-index-negative:-1;
    --z-index-modal: 100;
    --z-index-background: 50;

    /* font family */
    --font-number-card: 'Lato', sans-serif;

}
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem es igual a 10px*/
    font-family:'Poppins', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--black);
}

.icon{
    color: var(--white-sidebar-icons);
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}

#btns{
    padding: .6rem 4rem;
    border: none;
    background-color: var(--color-base);
    color: white;
    font-size: 12px;
    font-weight: 500;
    border-radius: .8rem;
    box-shadow: var(--shadow-btn);
    cursor: pointer;
}
.btn-modals{
    padding: 1rem 0;
    background-color: transparent;
    border-radius: .8rem;
    color: var(--blue-btn-color);
    border: 1px solid var(--border-color);
    font-size: 1.4rem;
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
}
.btn-add{
    padding: 1rem 1.6rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    column-gap: .8rem;
    border-radius: .8rem;
    font-size: var(--btn-font-size);
    font-weight: bolder;
    cursor: pointer;
    border:none;
    background-color:var(--background-btn-hover);
    color: white;
}
.plus-btn{
  font-size: 1.8rem;
  font-weight: bold;
}
.home_content{
    position: absolute;
    height: 100%;
    max-height: 100vh;
    width: calc(100% - 7.8rem);
    padding: 2.2rem 2.2rem 2.2rem .8rem;
    left: 7.2rem;
    display: flex;
    align-items: center;
}
.main{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    border-radius: 1.6rem;
    background-color: #fff;
    padding: 2rem 2.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15); 
    overflow: hidden;
}
.main{
    
    height: 100%;
    position: relative;
}

.dashboard,
.directory,
.managers,
.offices,
.admin-tools{
    display: none;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.directory{
    background-color: var(--secunday-color);
}
body.light-theme .directory{
    background-color: var(--body-light-color);
}
  ::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--background-links);
    border-radius: .5rem;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--btns-color);
    border-radius: .5rem;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-icon-2);
  }

/* displays black background when the user clicks on a modal */
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro semitransparente */
    z-index: 120;
    display: none; /* Inicialmente oculto */

  }


