
.header{
    width: 100%;
    height: 8.2rem;
    position: relative;
    z-index: 200;
}
.header::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 0 auto;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform:translate(-50%, 50%) ;
  z-index: 200;
}
.header_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.header_left,
.header_right{
  margin-bottom: 1rem;
}
.header_left-data{
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
}
.header_title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 1.6rem;
}
.header_left-data .bx-cog,
.section-title{
  font-size: 2.8rem;
  color: var(--gray-dark);
  font-weight: 500;
}
.header_left-data .bx-cog{
  font-weight: bolder;
  align-self: flex-start;
  line-height: 1.4;
}

.header_description-title{
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--subtitles);
}
.header_right{
  justify-self: flex-end;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

}
.header_right-btns{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  column-gap: 1.6rem;

}
.header_rigth-user-profile{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .8rem;
  /* border: solid .1px black; */
  border-radius: 4rem;
  padding: .5rem 1rem;
  /* box-shadow: var(--shadow-small); */

}
.user_profile-picture{
  display: block;
  width: 4.2rem ;
  height: 4.2rem;
  background: url(../../img/profile-picture/aiony-haust-3TLl_97HNJo-unsplash\ \(1\).jpg) center center / cover no-repeat;
  border-radius: 50%;
}
.user_profile-data{
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.user_profile-data-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user_profile-data-title .user-name{
  font-weight: 600;
  font-size: 1.4rem;
  width: max-content;
  color: var(--gray-dark);
}
.user_profile-data-title .user-rol{
  font-weight: 600;
  opacity: .6;
  font-size: 1.2rem;
  color: var(--subtitles);
}
.user_profile-data .bx-chevron-down{
  font-size: 2.6rem;
  opacity: .6;
  cursor: pointer;
}
.btn-add{
  display: block;
}
